.wrapper {
  margin: 75px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(16, 25px);
  gap: 2px;
  grid-template-rows: repeat(16, 25px);
}
.box {
  border-style: dashed;
  border-color: black;
  border-width: small;
  cursor: pointer;
}

.bomb {
  background-image: url(../images/bomb-vector-image.png);
}

.number1 {
  background-image: url(../images/number1.png);
}
