.wrapper {
  margin: 75px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(16, 25px);
  gap: 1px;
  grid-template-rows: repeat(16, 25px);
}
.box {
  margin: 0px;
  border-style: dashed;
  border-color: black;
  border-width: small;
  cursor: pointer;
}

.bomb {
  background-image: url(../images/Minesweeper-icons/SVG/bomb.svg);
}

.number1 {
  background-image: url(../images/Minesweeper-icons/SVG/1.svg);
}

/* body {
  background-color: purple;
} */
