.background {
  width: 1500px;
  height: 1000px;
  background-color: blue;
}
.wrapper {
  margin: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(16, 25px);
  gap: 10px;
  grid-template-rows: repeat(16, 25px);
}
.box {
  border-style: dashed;
  border-color: black;
  border-width: small;
  cursor: pointer;
  /* grid-column: 1/5;
  grid-row: 1/5; */
}

.bomb {
  background-image: url(../images/bomb-vector-image.png);
}

.number1 {
  background-image: url(../images/number.png);
}

/* body {
  background-color: purple;
} */
